<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html ng-app="random-lunch-places" ng-cloak
      ng-controller="placesCtrl">
  <head>
    <title>LUNCH PLACE RANDOMIZER</title>
    <meta name="description" content="A cool thing made with Gomix">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="main-container">
      <header>
        <h1>
          Random Lunch Places
        </h1>
      </header>
  
      <main>
        <h2>
          Today's Lunch Will Be In:
          <strong class="todays-place">{{ todaysPlaceData.todaysPlace }}</strong>.
        </h2>
        <span>Valid for {{todaysPlaceData.ttl / 60 / 60 | number:0}} hours</span>
        <div ng-if="todaysPlaceData.voters.length">
          {{votersMessage()}} don't like this idea!
        </div>
        <div ng-if="!isReadOnly()">
          <a href="" ng-click="voteDown.visible = !voteDown.visible">don't like it?</a>
          <div ng-if="voteDown.visible">Reject votes only available throw slack on slack! Type "/london-lunch reject"</div>
          <!-- <form ng-if="voteDown.visible"
                name="form"
                class="vote-down"
                ng-submit="!form.$prestine && form.$valid && rejectTodaysPlace(user)">
            <input type="text" ng-model="voteDown.user" required placeholder="slack username" />
            <button type="submit" ng-disabled="form.$prestine || !form.$valid">Vote to Reject</button>
            <div class="error-msg bold" ng-if="voteDown.error">{{voteDown.error.message}}</div>
          </form> -->
        </div>
        
        <form name="placesForm" ng-submit="addLunchPlace()" ng-if="!isReadOnly()">
          <p>Add a new lunch place:</p>
          
          <input type="text" maxlength="100" placeholder="Some fancy restaurant!" ng-model="model.newPlace">
          <button type="submit">Submit</button>
        </form>
        <div class="split-screen">
          <section class="lunch-places">
            <p>Available places:</p>
            <ul>
              <li ng-repeat="place in lunchPlaces">
                {{ place }}<span ng-if="!isReadOnly()"> - <button ng-click="deleteLunchPlace(place)">Remove</button></span>
              </li>
            </ul>
          </section>
          <section class="lunch-places" ng-if="todaysPlaceData.rejected.length">
            <p>Todays rejected places:</p>
            <ul>
              <li ng-repeat="place in todaysPlaceData.rejected">
                {{ place }}
              </li>
            </ul>
          </section>
        </div>
      </main>
  
      <footer>        
        <div ng-switch="isReadOnly()">
          <button ng-switch-when="true" ng-click="unlock()">UNLOCK</button>
          <button ng-switch-when="false" ng-click="lock()">LOCK</button>
        </div>
        <span><a href="https://gomix.com/#!/project/awful-temper">Edit this app</a>.</span>
      </footer>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
